@IMPORT url("css/reset");

*{font-family:Helvetica,Arial,sans-serif;}
td,th{ 
	text-align: left;
	padding-left: 10px;
	padding-top: 1px;
}
th{
	background-color: #5555FF;
	color: white;
}
td{
	padding-left: 10px;
	font-size: smaller;	
	padding-right: 10px;
}
tr:nth-child(2n){background-color: #CECEFF;}
table{border-collapse: collapse;}